@charset "utf-8";

main{
    width: 100%;
    height: 100%;
    background-image: url(../img/business/bg.jpg);
    background-position: 50% 50%;
    margin-bottom: 100px;
}
main .wrap{
    height: 200px;
    position: relative;
    margin: 0 auto;
}
main .wrap .titleBox{
    position: absolute;
    background-color: #f47321;
    width: 100%;
    height: 180px;
    left: 50%;
    bottom: -70px;
    transform: translateX(-50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 0;
}

main .wrap .titleBox .img img{
    display: block;
    height: 34px;
}
main .wrap .titleBox h3{
    font-size: 1.4em;
    font-weight: normal;
}
main .wrap .titleBox h3 span{
    text-transform: uppercase;
}
main .wrap .titleBox p{
    font-size: 0.9em;
}

.txtBox{
    width: 100%;
    height: 100%;
    margin: 50px 0;
}
.txtBox .wrap{
    height: 100%;
    text-align: center;
}
.txtBox .wrap p{
    font-size: 0.9em;
    color: #555;
    line-height: 1.6;
}

article #project{
    width: 100%;
}
article #project .wrap{
    margin: 0 auto;
}
article #project .wrap .title h2{
    font-size: 1.4em;    
    color: #555;
    margin-bottom: 20px;
}
article #project .wrap .title .line{
    width: 40px;
    border-bottom: 4px solid #f47321;
}
article #project .wrap #carousel{
    width: 100%;
    margin: 40px 0;
}
article #project .wrap #carousel #projectCarousel{
    position: relative;
}
article #project .wrap #carousel #projectCarousel .carouselBtn{
    position: absolute;
    width: 100%;
    height: 32px;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}
article #project .wrap #carousel #projectCarousel .carousel-inner{}
article #project .wrap #carousel #projectCarousel .carousel-inner .carousel-item{}
article #project .wrap #carousel #projectCarousel .carousel-inner .carousel-item .itemInner .img{
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
article #project .wrap #carousel #projectCarousel .carousel-inner .carousel-item .itemInner .cont{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f47321;
    padding: 20px 0;
}
article #project .wrap #carousel #projectCarousel .carousel-inner .carousel-item .itemInner .cont .txt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
article #project .wrap #carousel #projectCarousel .carousel-inner .carousel-item .itemInner .cont .txt a{
    display: block;
    background-color: #f47321;
    color: #fff;
    width: 40%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}
article #project .wrap #carousel #projectCarousel .carousel-inner .carousel-item .itemInner .cont .txt .txtWrap{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
article #project .wrap #carousel #projectCarousel .carousel-inner .carousel-item .itemInner .cont .txt .txtWrap .head h3{
    font-size: 1.4em;
}
article #project .wrap #carousel #projectCarousel .carousel-inner .carousel-item .itemInner .cont .txt .txtWrap .body{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px 0;
}
article #project .wrap #carousel #projectCarousel .carousel-inner .carousel-item .itemInner .cont .txt .txtWrap .body p{
    font-size: 0.8em;
    font-weight: bold;

}
article #project .wrap #carousel #projectCarousel .carousel-inner .carousel-item .itemInner .cont .txt .txtWrap .body p span{
    font-weight: normal;
}
#projectCarousel .carousel-inner .carousel-item:nth-of-type(2) .itemInner .cont .txt .txtWrap .body .bottom p:nth-of-type(2){
    display: none;
}

#facility{
    width: 100%;
    height: 100%;
    margin: 50px 0;
}
#facility .wrap{
    height: 100%;
}
#facility .wrap .outer{
    width: 100%;
    height: 100%;
}
#facility .wrap .outer .row{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 20px 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (6, 1fr );
}
#facility .wrap .outer .row .inner{
    width: 280px;
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    color: #f47321;
    padding: 0;
    margin: 0 auto;
}
#facility .wrap .outer .row .inner .innerWrap{
    height: 260px;
}
#facility .wrap .outer .row .inner .innerWrap .line{
    margin: 10px auto;
    border-bottom: 1px solid #d9d9d9;
}
#facility .wrap .outer .row .inner .innerWrap .head{
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}
#facility .wrap .outer .row .inner .innerWrap .head h3:nth-child(1){
    position: absolute;
    line-height: 1;
    left: 0;
    font-size: 1.4em;
}
#facility .wrap .outer .row .inner .innerWrap .head h3:nth-child(2){
    line-height: 1;
    font-size: 1.4em;
}


#facility .wrap .outer .row .inner .innerWrap .body{
    width: 100%;
    height: 75%;
    background-size: cover;
    background-position: 50% 80%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#facility .wrap .outer .row .inner .innerWrap .body p{
    width: 90%;
    margin-top: 20px;
    height: 50%;
    color: #555;
    font-size: 0.9em
}