@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Play:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Play', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #555;
}
body{
    font-size: 10px; 
}
.hanec{
    text-transform: capitalize;
}

h3{
    font-size: 2rem;
}

#frame{
    position: relative;
}