@charset "utf-8";


main{
    width: 100%;
    height: 100%;
    background-image: url(../img/info/bg.jpg);
    background-size: cover;
    background-position: 20% 50%;
    min-height: 200px;
}
main .wrap{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 200px;
    /* display: none; */
}

main .wrap h3{
    position: absolute;
    font-size: 1em;
    color: #fff;
}

article{
    width: 100%;
    height: 100%;
}
article #vision{
    width: 100%;
    margin: 80px 0;
}
article #vision .wrap{
    text-align: center;
}
article #vision .wrap .head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
article #vision .wrap .head h3{
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 20px;
}
article #vision .wrap .head h2{
    color: #f47321;
    font-size: 2em;
    font-weight: normal;
}
article #vision .wrap .body{
    
}
article #vision .wrap .body h4{
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 1.6;
}
article #vision .wrap .body p{
    font-size: 0.9em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}
article #vision .wrap .body p:nth-of-type(1){}
article #vision .wrap .body p:nth-of-type(2){}
article #vision .wrap .body p:nth-of-type(3){}


#manage{}
#manage .wrap{
    margin: 50px auto;
}
#manage .wrap .title{
    margin: 0 auto;
    margin-bottom: 40px;
}
#manage .wrap .title h2{
    font-size: 1.4em;    
    color: #555;
    margin-bottom: 20px;
}
#manage .wrap .title .line{
    width: 40px;
    border-bottom: 4px solid #f47321;
}
#manage .wrap ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#manage .wrap ul li{
    width: 280px;
    height: 270px;
    background-image: url(../img/info/img_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
#manage .wrap ul li:nth-of-type(1){
    background-position: 50% 0;
}
#manage .wrap ul li:nth-of-type(2){
    background-position: 50% 50%;
    
}
#manage .wrap ul li:nth-of-type(3){
    background-position: 50% 100%;
}
#manage .wrap ul li *{
    width: 80%;
    max-width: 300px;
    color: #555;
}
#manage .wrap ul li h4{
    font-size: 1.4em;
    margin-bottom: 10px;
}
#manage .wrap ul li h5{
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 10px;
}
#manage .wrap ul li p{
    font-size: 0.9em;
    color: #888;
}