@charset "utf-8";


@media(min-width: 768px){
    /* common */
    .carousel-inner::after{
        content: none;
    }

    header #menuBar .wrap{
        width: 100%;
    }
    header #slideMenu .wrap .head{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header #menuBar .wrap nav{
        display: block;
    }

    header #slideMenu{
        top: 0;
    }
    header #slideMenu .wrap .logo{
        display: block;
    }
    header #slideMenu .wrap .side{
        display: block;
    }
    header #slideMenu .wrap .side .menu{
        display: block;
    }

    header .slideNav ul > li{
        display: flex;
        align-items: center;
    }
    header .slideNav ul > li > a{
    }
    header #slideMenu .wrap .nav > ul > li .menuBox{
        width: 15vw;
        height: 60px;
    }
    header #slideMenu .wrap .nav > ul > li .menuBox .menuIcon{
        display: none;
    }
    header .slideNav ul > li > ul{
        width: 100%;
        display: flex;
        height: 60px;
        border-bottom: 2px solid #ddd;
    }
    header .slideNav ul > li > ul li a{
        padding: 1vw;
    }
    header #slideMenu .wrap .nav > ul > li > ul{
        max-height: 200px;
    }
    header #slideMenu .wrap .nav > ul > li > ul > li:first-child{
        margin-top: 0;
    }
    header #slideMenu .wrap .nav > ul > li > ul > li >a{
        line-height: 60px;
        font-size: 0.9em;
        color: 000;
    }
    
    
    /* main */
    .wrap{
        font-size: 1rem;
    }

    #carouselExampleControls .carousel-item{
        font-size: 1.2rem;
    }

    #businessCarousel .carousel-inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #story .wrap .cont .box:last-child{
        display: block;
    }

    #story .wrap .cont .box .img{
        height: 160px;
        margin-bottom: 20px;
    }
    #story .wrap .cont .box .txt{
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }
    #story .wrap .cont .box .txtSub{
        display: block;
        font-size: 0.9em;
    }

    #content .wrap .contentBox{
        height: 420px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        margin: 0 auto;
    }
    #content .wrap .contentBox .social{
        
    }
    #content .wrap .contentBox .careers{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #content .wrap .contentBox .info{
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 0;
    }
    #content .wrap .contentBox .link{
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #content .wrap .contentBox .link li{
        width: 280px;
        height: 40px;
    }





    /* company */
    #vision .wrap .head{
        font-size: 1.5rem;
    }

    #manage .wrap ul{
        flex-direction: row;
    }
    #manage .wrap ul li{
        width: 220px;
        height: 228px;
        background-image: url(../img/info/img.png);
        position: relative;
        justify-content: flex-start;
    }
    #manage .wrap ul li:nth-of-type(1){
        background-position: 0% 0;
    }
    #manage .wrap ul li:nth-of-type(2){
        background-position: 50% 0;
        
    }
    #manage .wrap ul li:nth-of-type(3){
        background-position: 100% 0;
    }
    #manage .wrap ul li h4{
        margin-top: 85px;
    }
    #manage .wrap ul li h5{
        font-size: 0.7em;
    }
    #manage .wrap ul li p{
        margin-top: 110px;
        display: flex;
        align-items: flex-start;
    }

    .topBtn.company{
        margin-top: 160px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }




    /* business */
    article #project .wrap #carousel #projectCarousel .carousel-inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    article #project .wrap #carousel #projectCarousel .carousel-inner .inner-item{
        width: calc(50% - 20px);
    }
    #facility .wrap .outer .row{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


    /* prcenter */
    #grantCont .wrap #grantCarousel .carousel-inner{
        display: flex;
        justify-content: space-between;
    }
    #grantCont .wrap #grantCarousel .carousel-inner .inner-item{
        width: calc(100% / 3 - 20px);
    }
    #grantCont .wrap #grantCarousel .carousel-inner .inner-item .img{
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }
    #grantCont .wrap #grantCarousel .carousel-inner .inner-item .txt p{
        text-align: center;
    }


    /* career */
    #typeCont .wrap .title .line{
        margin: 20px 0;
        margin-bottom: 40px;
    }

    #typeCarousel .carousel-inner{
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
    }
    #typeCarousel .carousel-inner .inner-item{
        width: calc(100% / 3 - 40px);
        text-align: center;
    }
    #typeCarousel .carousel-inner .inner-item .img{
        width: 140px;
        height: 140px;
        margin-bottom: 20px;
    }
    #typeCarousel .carousel-inner .inner-item .head{
        margin-bottom: 20px;
    }
    #typeCarousel .carousel-inner .inner-item .body{
        height: 200px;
    }
    #careersBanner{
        margin-top: 40px;
    }
    #careersBanner .wrap{
        display: flex;
    }
    #careersBanner .wrap .img{
        display: flex;
        align-items: center;
    }
    #careersBanner .wrap .img img{
        height: 200px;
    }
    #careersBanner .wrap .txt{
        padding-right: 20px;
        margin-bottom: 0;
    }

    #careersDevelop .wrap #developCarousel .carousel-inner{
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
    }
    #careersDevelop .wrap #developCarousel .img{
        height: 140px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    #careersDevelop .wrap #developCarousel .img .imgWrap h4{
        font-size: 1em;
    }
    #careersDevelop .wrap #developCarousel .carousel-inner .inner-item{
        width: calc(100% / 3 - 20px);
    }
    #careersDevelop .wrap #developCarousel .img .imgWrap .imgBox{
        width: 64px;
        height: 64px;
    }
    

    /* customer */
    
    #privacy .wrap .progressBar ul li:nth-child(2){
        display: block;
    }
    #privacy .wrap .progressBar ul li:nth-child(3){
        display: block;
    }

    #cert .wrap .body{
        height: 240px;
        padding: 30px;
    }
    #cert .wrap .body .txtBody{
        justify-content: center;
        align-items: start;
        text-align: left;
    }
    #cert .wrap .body .btnBody{
        align-items: flex-end;
    }
    #cert .wrap .certBtn{
        width: 320px;
        margin: 0 auto;
    }



    /* footer */

    footer .wrap .cont{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    footer .wrap .cont .right{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    footer .wrap .cont nav ul li a{
        border-right: 1px solid #fff;
        padding: 0 10px;
    }
    footer .wrap .cont nav ul li:first-child a{
        padding-left: 0;
    }
    footer .wrap .cont nav ul li:last-child a{
        padding-right: 0;
        border: none;
    }

    footer .wrap .cont nav .info{
        align-items: start;
    }

    footer .wrap .cont .right .linkBox{
    }

    footer .wrap .cont .right .link{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 33px;
    }
    footer .wrap .cont .right .link ul{
        margin: 0;
    }
}







@media(min-width:1200px){
    /* common */

    .wrap{
        width: 1180px;
        /* padding: 0 10px; */
    }

    header #menuBar .wrap{
        width: 1180px;
        padding: 0 10px;
    }
    header #menuBar .wrap .side{
        display: none;
    }
    header #menuBar .wrap nav > ul > li{
        width: 140px;
    }
    





    /* main */

    .wrap{


    }

    #carouselExampleControls .carousel-inner{
    }

    #carouselExampleControls .carousel-item{
        font-size: 1.6rem;
    }
    #carouselExampleControls .carousel-item .txt{
        top: 100px;
    }
    #carouselExampleControls .carousel-item .txt h3{
        margin-bottom: 30px;
    }
    #carouselExampleControls .carousel-item .txt h4{
        margin-bottom: 30px;
    }
    #carouselExampleControls .carousel-item .txt p{
        margin-bottom: 30px;
    }
    #carouselExampleControls .carousel-item .txt a{
        width: 260px;
    }

    #carouselExampleControls .carouselBtn{
        width: 120px;
    }
    #carouselExampleControls .carouselBtn img{
        height: 32px;
    }

    #business{
        padding-top: 50px
    }

    #businessCarousel .carousel-inner{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #imgBanner{
        margin: 100px 0;
    }
    #imgBanner .wrap{
        height: 420px;
    }
    #imgBanner .wrap .box .dark a span.img{
        width: 50%;
        height: 50px;
    }

    #content{
        margin: 100px 0;
    }

    #content .wrap .contentBox{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 0.3fr;
    }

    #content .wrap .contentBox .social{
        display: flex;
        justify-content: space-between;
        height: 240px;
    }
    #content .wrap .contentBox .social .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #content .wrap .contentBox .social .left .bottom{
        display: block;
    }
    #content .wrap .contentBox .social .left .bottom p{
        line-height: 1.4;
    }
    #content .wrap .contentBox .social .right{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    #content .wrap .contentBox .social .right img{
        height: 128px;
    }
    #content .wrap .contentBox .careers{
        grid-column: 3/4;
        grid-row: 1/2;
        background-image: url(../img/career_img.jpg);
        background-size: cover;
        height: 240px;
    }
    #content .wrap .contentBox .info{
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 0;
        height: 240px;
    }
    #content .wrap .contentBox .link{
        margin-top: 20px;
        grid-column: 1/4;
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #content .wrap .contentBox .link li{
        width: calc(1200px / 3);
    }





    /* company */

    main.company{
        margin-bottom: 20px;
    }
    main .wrap h3{
        font-size: 1.4em;
    }

    #vision .wrap .head{
        font-size: 1.8rem;
    }
    #vision .wrap .head h3{
        font-size: 1em;
    }

    #manage .wrap ul{
        flex-direction: row;
    }
    #manage .wrap ul li{
        width: 360px;
        height: 373px;
        background-image: url(../img/info/img.png);
        position: relative;
        justify-content: flex-start;
    }
    #manage .wrap ul li:nth-of-type(1){
        background-position: 0% 0;
    }
    #manage .wrap ul li:nth-of-type(2){
        background-position: 50% 0;
        
    }
    #manage .wrap ul li:nth-of-type(3){
        background-position: 100% 0;
    }
    #manage .wrap ul li h4{
        margin-top: 130px;
    }
    #manage .wrap ul li h5{
        font-size: 0.7em;
    }
    #manage .wrap ul li p{
        margin-top: 0;
        display: flex;
        align-items: flex-start;
    }

    .topBtn.company{
        margin-top: 160px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }







    /* business */

    main.business{
        height: 320px;
        margin-bottom: 120px;
    }
    main.business .wrap{
        width: 100%;
    }

    main .wrap .titleBox{
        width: 100%;
        bottom: -220px;
    }
    
    #facility .wrap .outer .row{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }






    /* prcenter */


    .txtBox.prcenter{
        width: 100%;
    
    }
    .txtBox.prcenter .wrap{
        display: flex;
        justify-content: space-between;
    }
    .txtBox.prcenter .wrap .left{
        width: 70%;
    }
    .txtBox.prcenter .wrap .right{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .txtBox.prcenter .wrap .bgLogo{
        position: static;
        width: 240px;
        height: 240px;
        background-image: url(../img/prcenter/logo.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        transform: translate(0, 0);
        filter: opacity(1);
        z-index: -1;
        top: 0;
        left: 0;
    }
    .txtBox.prcenter .wrap .head{}
    .txtBox.prcenter .wrap .head h3{
        font-size: 1.4em;
    }
    .txtBox.prcenter .wrap .body{
    }
    .txtBox.prcenter .wrap .body p{
        font-size: 0.90em;
        line-height: 1.6;
    
    }

    main.prcenter{
        margin-bottom: 20px;
    }





    /* careers */

    #grant{
        height: 400px;
    }
    #grant .wrap{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #grant .wrap .head{
        width: 512px;
    }
    #grant .wrap .head img{
        left: 30%;
        height: 320px;
    }
    #grant .wrap .body{
        padding-top: 0;
        width: 512px;
        height: 200px;
    }

    #grantCont .wrap #grantCarousel .carousel-inner .inner-item .img{
        width: 300px;
        height: 300px;
    }

    main.careers{
        background-position: 50% 100%;
        margin-bottom: 20px;
    }
    #careersDevelop .wrap #developCarousel .img{
        height: 240px;
    }



    /* customer */


    main.customer{
        margin-bottom: 20px;
    }


    .dreamGreen .wrap .body .box:first-child .dreamGreenTxt{
        flex-direction: row;
    }
    .dreamGreen .wrap .body .box{
        flex-direction: row;
    }

    .dreamGreen .wrap .body .box .dreamGreenIcon{
        width: 80px;
        height: 80px;
    }

    #cert .wrap .body{
        height: 120px;
        padding: 20px;
        flex-direction: row;
    }
    #cert .wrap .body .txtBody{
        width: 1600px;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        flex-direction: row;
    }
    #cert .wrap .body .txtBody img{
        margin-bottom: 0;
    }
    #cert .wrap .body .txtBody .p1{
        margin-bottom: 0;
    }
    #cert .wrap .body .txtBody .p2{
        margin-bottom: 0;
    }

    #cert .wrap .body .btnBody{
        align-items: flex-end;
        justify-content: center;
    }
    #cert .wrap .certBtn{
        width: 320px;
        margin: 0 auto;
    }


    /* footer */

    footer .wrap{}
    footer .wrap .cont{
        padding: 0 10px;
    }

    footer .wrap .cont nav{
        width: 40%;
    }
    footer .wrap .cont nav ul{
        justify-content: flex-start;
    }
    footer .wrap .cont .right{
        flex-direction: row;
        justify-content: space-between;
    }
    footer .wrap .cont .right .linkBox{
        width: 20%;
        display: flex;
        justify-content: flex-end;
        
    }
    footer .wrap .cont .right .linkBox .link{
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
        height: 100%;
    }
    footer .wrap .cont .right .linkBox .link ul{
        margin-bottom: 20px;
    }
    



}