@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Play:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Play', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #555;
}
body{
    font-size: 10px; 
}
.hanec{
    text-transform: capitalize;
}

h3{
    font-size: 2rem;
}

#frame{
    position: relative;
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
}
header #menuBar{
    width: 100%;
    height: 90px;
}
header #menuBar .wrap{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #menuBar .wrap .logo{}
header #menuBar .wrap .logo a{}
header #menuBar .wrap .logo a img{
    height: 3.6em;
}

header #menuBar .wrap nav{
    display: none;
}
header #menuBar .wrap .side{
    display: flex;
    align-items: center;
}
header #menuBar .wrap .side .lang{
    display: flex;
    justify-content: space-between;
    width: 62px;
}
header #menuBar .wrap .side .lang a{
    display: block;
    height: 26px;
    width: 26px;
    background-size: cover;
}
header #menuBar .wrap .side .lang a.kr{
    background-image: url(../img/kor_btn.png);
}
header #menuBar .wrap .side .lang a.en{
    background-image: url(../img/eng_btn.png);
    background-position: 100% 0;
}


header #menuBar .wrap .side .menu{
    background-image: url(../img/btn-gnbutil.png);
    width: 26px;
    height: 20px;
    background-size: cover;
    background-position: 0 0;
    margin-left: 10px;
}

header #slideMenu{
    width: 100%;
    position: absolute;
    top: 90px;
    max-height: 0;
    overflow: hidden;
    z-index: 100;
    background-color: #fff;
}
header #slideMenu.active{
    max-height: 1000px;
    transition: max-height 2s;
}
header #slideMenu .wrap{
    width: 80%;
    padding: 0 10px;
    margin: 0 auto;
    
}
header #slideMenu .wrap .logo{
    display: none;
}
header #slideMenu .wrap .nav{

}
header #slideMenu .wrap .nav > ul{
    width: 100%;
}
header #slideMenu .wrap .nav > ul > li{
    width: 100%;
    text-transform: uppercase;
    
}
header #slideMenu .wrap .nav > ul > li .menuBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f47321;

}
header #slideMenu .wrap .nav > ul > li > .menuBox a{
    width: 100%;
    font-size: 2em;
    height: 3.6rem;
    display: flex;
    align-items: center;
    color: #000;
}
header #slideMenu .wrap .nav > ul > li > .menuBox .menuIcon{
    font-size: 2.6em;
    color: #f47321;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}
header #slideMenu .wrap .nav > ul > li > ul{
    margin-top: 1rem;
    max-height: 0;
    overflow: hidden;
}
header #slideMenu .wrap .nav > ul > li > ul.active{
    max-height: 600px;
    overflow: hidden;
    transition: max-height 0.3s;
}
header #slideMenu .wrap .nav > ul > li > ul > li{}
header #slideMenu .wrap .nav > ul > li > ul > li >a{
    font-size: 1.4em;
    line-height: 1.4rem;
}
header #slideMenu .wrap .side{
    display: none;
}
#carouselExampleControls{
    position: relative;
}

.carouselBtn{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
}

#business{
    background-image: url(../img/slide_bottom_icon.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position-x: 50%;
    /* padding: 1rem 0; */
}
#business .wrap{
    width: 100%;
    height: 100%;
    padding-top: 20%;
}
#business .wrap .mainTxt{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /* margin-bottom: 10%; */
}
#business .wrap .mainTxt h3{
    font-size: 2rem;
    margin-bottom: 1%;
}
#business .wrap .mainTxt p{
    font-size: 1.4em;
}

#businessCarousel{
    width: 100%;
    height: 20vw;
}
#businessCarousel{
    height: 100%;
}
#businessCarousel .carousel-item{
    text-align: center;
    background-color: #fff;

}
#businessCarousel .carousel-item .itemInner{
    width: 80%;
    height: 30vw;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#businessCarousel .carousel-item .itemInner a{
    display: block;
    width: 128px;
    height: 128px;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 5%;
}
#businessCarousel .carousel-item .itemInner p{
    font-size: 1.3em;
}

#businessCarousel .businessSlideBtn{
}

.btnIcon{
    
}

#imgBanner{
    width: 100%;
}
#imgBanner .wrap{
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 20vw;

}
#imgBanner .wrap .box{
    width: calc(100% / 3);
    height: calc(100vw / 3 - 40px);
    background-size: cover;
    background-position: 50% 50%;

}
#imgBanner .wrap .box:nth-of-type(1){
    background-image: url(../img/business_img01.jpg);
}
#imgBanner .wrap .box:nth-of-type(2){
    background-image: url(../img/business_img02.jpg);
}
#imgBanner .wrap .box:nth-of-type(3){
    background-image: url(../img/business_img03.jpg);
}
#imgBanner .wrap .box .dark{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgBanner .wrap .box .dark a{
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#imgBanner .wrap .box .dark a span.img{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/business_over_btn.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: #fff;
}
#imgBanner .wrap .box .dark a span.txt{
    display: block;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    text-transform: uppercase;
}

#story{
    width: 100%;
    margin: 10% 0;
}
#story .wrap{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#story .wrap .title{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
#story .wrap .title h3{
    text-transform: capitalize;
}
#story .wrap .title p{
    display: block;
    font-size: 0.8rem;
}
#story .wrap .cont{
    display: flex;
}
#story .wrap .cont .box{
    padding: 3% 1%;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#story .wrap .cont .box .img{
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 1%;
}

#story .wrap .cont .box:nth-of-type(1) .img{
    background-image: url(../img/story_img01.jpg);
}
#story .wrap .cont .box:nth-of-type(2) .img{
    background-image: url(../img/story_img02.jpg);
}
#story .wrap .cont .box:nth-of-type(3) .img{
    background-image: url(../img/story_img03.jpg);
}
#story .wrap .cont .box .txt{
    font-size: 0.8rem;
    text-align: left;
}
#story .wrap .cont .box .txtSub{
    display: none;
}

#banner{
    width: 100%;
    background-image: url(../img/banner_img.jpg);
    background-position: 50% 50%;
}
#banner .wrap{
    width: 100%;
    height: calc(100vw / 3 - 40px);
}
#banner .wrap .dark{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

#banner .wrap .dark .img{
    height: 20%;
}
#banner .wrap .dark .txt{}
#banner .wrap .dark a{
    font-size: 0.8rem;
    padding: 0 4%;
    color: #fff;
    border: 1px solid #fff;
    line-height: calc(1.8rem - 2px)
}

#content{
    width: 100%;
    margin: 10% 0;
}
#content .wrap{
    width: 95%;
    margin: 0 auto;
}
#content .wrap .contentBox{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1.2fr 0.8fr;
    margin-bottom: 10%;

}
#content .wrap .contentBox > a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10%;
    color: #fff;
}
#content .wrap .contentBox > a span{
    display: block;
    width: 13%;
    border-bottom: 3px solid #fff;
}
#content .wrap .contentBox > a h4{
    font-size: 1.2rem;
    font-weight: normal;
    margin: 3% 0;
    line-height: 1;
}
#content .wrap .contentBox > a p{
    font-size: 0.8rem;
    text-transform: capitalize;
    line-height: 1;
}
#content .wrap .contentBox .social{
    grid-column: 1/2;
    background-color: #f47321;

}
#content .wrap .contentBox .careers{
    grid-column: 2/3;
    background-color: #82a5ae;

}
#content .wrap .contentBox .info{
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    padding: 8% 0;
}
#content .wrap .contentBox .info > a{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #555;
}
#content .wrap .contentBox .info > a img{
    margin-bottom: 5%;
}
#content .wrap .contentBox .info > a h4{
    font-size: 1.2rem;
}
#content .wrap .contentBox .info > a p{
    font-size: 0.8rem;
    text-transform: capitalize;
}
#content .wrap .contentBox .link{
    grid-column: 1/3;
    display: grid;
    gap: 10%;
}
#content .wrap .contentBox .link li{
    border: 1px solid #555;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #555;
    background-image: url(../img/menu_bar.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

#content .wrap .contentBox .link li a{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
}
#content .wrap .contentBox .link li a span{
    right: 0;
}
#content .wrap .topBtn{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

footer{
    width: 100%;
    background-color: #555555;
    color: #fff;
}
footer a{
    color: #fff;
}
footer .wrap{
    width: 80%;
    margin: 0 auto;
    padding: 5% 0;
}

footer .wrap .cont{}
footer .wrap .cont .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
footer .wrap .cont nav{}
footer .wrap .cont nav ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}
footer .wrap .cont nav ul li{
}
footer .wrap .cont nav ul li a{
    font-size: 0.7rem;
}
footer .wrap .cont nav .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 5%;
}
footer .wrap .cont nav .info address{
    margin-bottom: 0;
}
footer .wrap .cont .link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .wrap .cont .link ul{
    width: 40%;
    height: 24px;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .wrap .cont .link ul li{
    width: calc(100% / 4 - 8%);
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
footer .wrap .cont .link ul li a{
    width: 100%;
    height: 100%;
}
footer .wrap .cont .link ul li a.youtube{
    background-image: url(../img/sns.png);
}
footer .wrap .cont .link ul li a.facebook{
    background-image: url(../img/sns.png);
}
footer .wrap .cont .link ul li a.instagram{
    background-image: url(../img/sns.png);
}
footer .wrap .cont .link ul li a.blog{
    background-image: url(../img/sns.png);
}
footer .wrap .cont .link .family{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
footer .wrap .cont .link .family .body{
    position: absolute;
    top: -360px;
    border: 1px solid #555;
    display: none;
}
footer .wrap .cont .link .family .head{
    cursor: pointer;
}